 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.container{
    background-color: lightblue;
    min-height: 100vh;
    border: 5px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
.img-container , img{
  width: 300px;
  height: 320px;
  border-radius: 50%;
}
.top-section{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}
.top-section h1{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2.5px;
    line-height: 40px;
    margin-top: 50px;
}
.top-section h2{
text-align: end;
font-size: 18px;
font-weight: 500;
text-transform: capitalize;
}

.name-content{
    margin-bottom: 130px;
    margin-right: 100px;
}
.about-section{
    margin-top: 50px;
}
.about-section h3{
    font-size: 20px;
    margin: 10px;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 10px;
}
.about-section p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
}

.biography-section{
    margin-top: 20px;
    
}
.biography-section h4{
    font-size: 20px;
    margin: 10px;
    font-weight: 700;
    text-transform: capitalize;

}
 ul{
    margin: 10px;
    display: flex;

 }
 li{
    margin: 5px;
    text-transform: capitalize;
    list-style: none;

 }
 footer{
    margin: 50px 0 ;
    text-align: end;
    margin-left: 10px;
 }
 a{
    text-decoration: none;
    font-size: 20px;
    color: black;
 }

